# version format
version: 1.1.6.{build}

# UMBRACO_PACKAGE_PRERELEASE_SUFFIX if a rtm release build this should be blank, otherwise if empty will default to alpha
# example UMBRACO_PACKAGE_PRERELEASE_SUFFIX=beta
init:
  - set UMBRACO_PACKAGE_PRERELEASE_SUFFIX=

build_script:
  - cd src\BuildPackage
  - Build.bat

artifacts:
  - path: src\BuildPackage\artifacts\*.nupkg
  - path: src\BuildPackage\artifacts\*.zip

deploy:
     # MyGet Deployment for builds & releases
  - provider: NuGet
    server: https://www.myget.org/F/appveyorumbracopackage/
    symbol_server: https://nuget.symbolsource.org/MyGet/appveyorumbracopackage
    api_key:
      secure: usS1RPtPAg/YZaJCeh2xxFPZ7bp+t0rddYjz/yEYSRMKEHDK0/8VyvQFl6GIW6mC
    artifact: /.*\.nupkg/
    on:
      branch: master

     # GitHub Deployment for releases
  # - provider: GitHub
  #   auth_token:
  #     secure: c0LwOGqoFZIieyy8CHrUtYQOD0HL0rG5tV2DS+8FHv34BKs/LSGGtmWWep5O7GbV
  #   artifact: /.*\.zip/            # upload all Zip packages to release assets
  #   draft: false
  #   prerelease: false
  #   on:
  #     branch: master
  #     appveyor_repo_tag: true        # deploy on tag push only
